body{
    color: whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

.title{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkblue;
    text-align: center;
}