body{
    color: whitesmoke;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url("https://github.com/Miguel0509-hub/sobre-mim/blob/main/images/background-iamge.jpg?raw=true");
}

.title{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkblue;
    text-align: center;
    text-decoration: underline;
}

.image{
    border-radius: 10px;
    border-width: 5px;
    border-color: darkblue;
}

.txt{
    color:black;
    font-family: cursive, sans-serif;
    text-align: center;
}